<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Choose your class for more info!</h1>
    <p>Classes are:</p>
    <p>barbarian ┃ bard ┃ cleric ┃ druid ┃ fighter ┃ monk ┃ paladin ┃ ranger ┃ rogue ┃ sorcerer ┃ warlock ┃ wizard</p>
    <form action = "/search/" method="post">
        <p><input type="" name="search_term" placeholder="Choose your class..."></p>
        <p><input type="submit" value="Submit"></p>
    </form>    
</body>
</html>
